<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
	<title></title>
</head>
<body>

	
	<center>
		<div class="center jumbotron">
			<h1>Home Page</h1>
			<p>You are at home. Welcome!</p>
			<hr class="my-4">
			
			<% if logged_in? %>
              <a class="btn btn-danger btn-lg" href='sessions/secret' role="button">Page secrète</a>
			  <hr class="my-4">
            <% else %>
              <a class="btn btn-danger btn-lg" href=<%= login_path %> role="button">Page secrète</a>
			  <hr class="my-4">
            <% end %>
			

			<a class="btn btn-primary btn-lg" href=<%= users_path %> role="button">Create an account</a>
		</div>

		<ul>
			<% @user.reverse.each do |user| %>
			<a href="<%= user_path(user.id) %>"> <%= user.pseudo %> </a><br> <%= user.email %><br>
			<% end %>
		</ul>
	</center>

</body>
</html>
